"*":
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      genAccent: true
      predefinedColor: "Indigo"
    tabs: {}
    treeView:
      compactList: true
    ui: {}
  core:
    disabledPackages: [
      "language-python"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    scrollPastEnd: true
  "exception-reporting":
    userId: "9af61268-2ffa-e245-425c-ab6bd97a9f9b"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-selection":
    highlightCursorsLines: true
  "spell-check":
    useLocales: false
  welcome:
    showOnStartup: false
".cs.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    showIndentGuide: false
    showInvisibles: false
    softWrap: false
